<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin-config>
	<depends plugin-name="com.iver.cit.gvsig"/>
	<depends plugin-name="com.iver.cit.gvsig.cad"/>
	<depends plugin-name="es.icarto.gvsig.commons"/>
	<depends plugin-name="es.udc.cartolab.gvsig.users"/>
	<depends plugin-name="es.udc.cartolab.gvsig.elle"/>
	<depends plugin-name="es.icarto.gvsig.siga"/>
	<depends plugin-name="es.udc.cartolab.gvsig.navtable"/>
	<depends plugin-name="es.icarto.gvsig.navtableforms"/>
	<depends plugin-name="org.gvsig.mapsheets.print.series"/>
	<depends plugin-name="es.icarto.gvsig.extgia"/>
	<libraries library-dir="lib"/>
	<resourceBundle name="text"/>
	<extensions>
		
		<extension class-name="es.icarto.gvsig.extgex.InitializationExtension" active="true">
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.FormExpropiationsExtension" active="true">
			<tool-bar name="extgex.formularios" position="70">
				<action-tool icon="es.icarto.gvsig.extgex.FormExpropiationsExtension" tooltip="Expediente de expropiaciones" position="1"/>
			</tool-bar>
			<menu text="SIGA/Expropiaciones/es.icarto.gvsig.extgex.FormExpropiationsExtension.menu" icon="es.icarto.gvsig.extgex.FormExpropiationsExtension" position="30000"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.FormExpropiationsAmpliacionExtension" active="true">
			<tool-bar name="extgex.formularios" position="70">
				<action-tool icon="es.icarto.gvsig.extgex.FormExpropiationsAmpliacionExtension" tooltip="Expediente de expropiaciones - Ampliación" position="2"/>
			</tool-bar>
			<menu text="SIGA/Expropiaciones/es.icarto.gvsig.extgex.FormExpropiationsAmpliacionExtension.menu" icon="es.icarto.gvsig.extgex.FormExpropiationsAmpliacionExtension" position="30001"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.FormReversionsExtension" description="FORMS_PANEL" active="true">
			<tool-bar name="extgex.formularios" position="70">
				<action-tool icon="extgex-reversions" tooltip="Expediente de reversiones" action-command="ReversionsFileExtension" position="3"/>
			</tool-bar>
			<menu text="SIGA/Expropiaciones/Expediente Reversión" action-command="ReversionsFileExtension" icon="extgex-reversions" position="30050"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.FormExpropiationLineExtension" description="FORMS_PANEL" active="true">
			<menu text="SIGA/Expropiaciones/Línea de Expropiación" action-command="ExpropiationLineFileExtensionv" position="30060"/>
		</extension>
		<extension class-name="es.icarto.gvsig.extgex.FormExpropiationLineAmpliacionExtension" active="true">
			<menu text="SIGA/Expropiaciones/es.icarto.gvsig.extgex.FormExpropiationLineAmpliacionExtension.menu" position="30061"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.QueriesExtension" active="true">
			<menu text="SIGA/es.icarto.gvsig.extgex.QueriesExtension.menu" position="30100"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.ExpropiationsFolderExtension" active="true">
			<menu text="SIGA/es.icarto.gvsig.extgex.ExpropiationsFolderExtension.menu" position="30101"/>
		</extension>

		<!-- MAPAS EXTENSIONS -->
		<extension class-name="org.gvsig.mapsheets.print.series.MapSheetsCreationExtension" description="Generar rejilla y mapa" active="true">
			<menu text="SIGA" position="30899" is_separator="true"/>				
			<menu text="SIGA/Mapas/Generar rejilla y mapa" action-command="MAP_SHEETS_GENERATE_DIALOG" icon="images/grid.png" position="30900"/>
			<tool-bar name="MapSheets" position ="80">
				<action-tool action-command="MAP_SHEETS_GENERATE_DIALOG" tooltip="Generar rejilla y mapa" icon="images/grid.png" position="1"/>
			</tool-bar>
		</extension>
		<extension class-name="org.gvsig.mapsheets.print.series.MapSheetsManipulationExtension" description="Ajustar rejilla" active="true">
			<menu text="SIGA/Mapas/Ajustar rejilla" action-command="MAP_SHEETS_ADJUST" icon="images/adjust.png" position="30910"/>
			<tool-bar name="MapSheets" position ="80">
				<action-tool action-command="MAP_SHEETS_ADJUST" tooltip="Ajustar rejilla" icon="images/adjust.png" position="2"/>
			</tool-bar>
		</extension>
		<extension class-name="org.gvsig.mapsheets.print.series.MapSheetsPrintExtension" description="Actualizar mapa con rejilla" active="true">
			<menu text="SIGA/Mapas/Actualizar mapa con rejilla" action-command="MAP_SHEETS_SET_NEW_GRID" icon="images/change.png" position="30920"/>
			<tool-bar name="MapSheets" position ="80">
				<action-tool action-command="MAP_SHEETS_SET_NEW_GRID" tooltip="Actualizar mapa" icon="images/change.png" position="3"/>
			</tool-bar>
		</extension>
		<extension class-name="org.gvsig.mapsheets.print.series.MapSheetsPrintExtension" description="Previsualizar e imprimir mapa" active="true">
			<menu text="SIGA/Mapas/Previsualizar e imprimir mapa" action-command="MAP_SHEETS_PRINT" icon="images/print.png" position="30930"/>
			<tool-bar name="MapSheets" position ="80">
				<action-tool action-command="MAP_SHEETS_PRINT" tooltip="Previsualizar e imprimir mapa" icon="images/print.png" position="4"/>
			</tool-bar>
		</extension>

		<!-- TOOLS EXTENSIONS -->
		
		<extension class-name="es.icarto.gvsig.extgex.LocatorByPKExtension" active="true">
			<menu text="SIGA" position="30699" is_separator="true"/>			
			<menu text="SIGA/localization/es.icarto.gvsig.extgex.LocatorByPKExtension.menu" icon="es.icarto.gvsig.extgex.LocatorByPKExtension" position="30710"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="es.icarto.gvsig.extgex.LocatorByPKExtension" tooltip="es.icarto.gvsig.extgex.LocatorByPKExtension.tooltip" position="2"/>
			</tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.LocatorByMunicipioExtension" active="true">
			<menu text="SIGA/localization/es.icarto.gvsig.extgex.LocatorByMunicipioExtension.menu" icon="es.icarto.gvsig.extgex.LocatorByMunicipioExtension" position="30720"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="es.icarto.gvsig.extgex.LocatorByMunicipioExtension" tooltip="es.icarto.gvsig.extgex.LocatorByMunicipioExtension.tooltip" position="3"/>
			</tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.LocatorByFincaExtension" active="true">
			<menu text="SIGA/localization/es.icarto.gvsig.extgex.LocatorByFincaExtension.menu" position="30730"/>
		</extension>
		
		

		<!-- WMS EXTENSIONS -->
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadFincasExtension" active="true">
			<menu text="SIGA" position="30799" is_separator="true"/>			
			<menu text="SIGA/WMS/Planos Expropiaciones" icon="es.icarto.gvsig.extgex.WMSLoadFincasExtension" position="30800"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="es.icarto.gvsig.extgex.WMSLoadFincasExtension" tooltip="Cargar Planos Expropiaciones" position="4"/>
			</tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadFincasAmpliacionExtension" active="true">
			<menu text="SIGA/WMS/Planos Expropiaciones - Ampliación" icon="es.icarto.gvsig.extgex.WMSLoadFincasAmpliacionExtension" position="30805"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="es.icarto.gvsig.extgex.WMSLoadFincasAmpliacionExtension" tooltip="Cargar Planos Expropiaciones - Ampliación" position="5"/>
			</tool-bar>
		</extension>
		
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadDimensionesExtension" active="true">
			<menu text="SIGA/WMS/dimensiones_menu" icon="es.icarto.gvsig.extgex.WMSLoadDimensionesExtension" position="30810"/>
			<tool-bar name="SIGA_Tools" position="75">
                <action-tool icon="es.icarto.gvsig.extgex.WMSLoadDimensionesExtension" tooltip="dimensiones_tooltip" position="6"/>
            </tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadDimensionesAmpliacionExtension" active="true">
            <menu text="SIGA/WMS/dimensiones_ampliacion_menu" icon="es.icarto.gvsig.extgex.WMSLoadDimensionesAmpliacionExtension" position="30811"/>
            <tool-bar name="SIGA_Tools" position="75">
                <action-tool icon="es.icarto.gvsig.extgex.WMSLoadDimensionesAmpliacionExtension" tooltip="dimensiones_ampliacion_tooltip" position="7"/>
            </tool-bar>
        </extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadPNOALocalExtension" description="LOAD_PNOA_WMS" active="true">
			<menu text="SIGA/WMS/Ortofotos PNOA (Local)" icon="images/wms.png" action-command="LoadPNOAExtension" position="30820"/>
			<tool-bar name="SIGA_Tools" position="75">
				<action-tool icon="images/wms.png" action-command="LoadPNOAExtension" tooltip="Cargar WMS PNOA (Local)" position="9"/>
			</tool-bar>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadPNOAExtension" description="LOAD_PNOA_WMS" active="true">
			<menu text="SIGA/WMS/Ortofotos PNOA (Internet)" action-command="LoadPNOAExtension" position="30830"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadVueloAmericanoExtension" description="LOAD_VUELO_AMERICANO_WMS" active="true">
			<menu text="SIGA/WMS/Ortofotos 1956-1957 (Vuelo Americano)" action-command="LoadVueloAmericanoExtension" position="30840"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadCatastroExtension" description="LOAD_LOAD_CATASTRO_WMS" active="true">
			<menu text="SIGA/WMS/Catastro" action-command="LoadCatastroExtension" position="30850"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadPUSectoresExtension" description="LOAD_PUSectores_WMS" active="true">
			<menu text="SIGA/WMS/Planeamiento Urbanístico (Sectores)" action-command="LoadPUSectoresExtension" position="30860"/>
		</extension>
		
		<extension class-name="es.icarto.gvsig.extgex.WMSLoadPUClasesDeSueloExtension" description="LOAD_PUClasesDeSuelo_WMS" active="true">
			<menu text="SIGA/WMS/Planeamiento Urbanístico (Clases de Suelo)" action-command="LoadPUClasesDeSueloExtension" position="30870"/>
		</extension>


	</extensions>
</plugin-config>
